@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<table class="table">
    <thead>
        <tr>
            @foreach (var day in Model.Dashboard.Calender.Days)
            {
                <th>@day.DisplayName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var week in Model.Dashboard.Calender.CurrentMonth.Weeks)
        {
            <tr>
                @foreach (var day in week.Days)
                {
                    var css = day.IsInMonth ? "current-month" : "other-month";
                    <td class="@css">@day.Day</td>
                }
            </tr>
        }
    </tbody>
</table>
